<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Sohbet</title>
</head>
<body>
    <div class="container">
        <form action="/chat" id="form">
            <h2>Sohbete katılın!</h2>
            <div class="inputs">
                <div>
                    <label for="username">Kullanıcı Ad</label>
                    <br>
                    <input type="text" id="username" name="username" autocomplete="off">
                </div>
                <div>
                    <label for="room">Oda</label>
                    <br>
                    <input type="text" id="room" name="room" autocomplete="off">
                </div>
                <input type="submit" value="Gönder">
            </div>
        </form>
    </div>
</body>
</html>